body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
/****************header*************/
.header {
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo-text {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.header-ul-spc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.125em;
  color: #2e2f42;
}
.header-spd-link:hover,
.header-spd-link:focus {
  color: #404bbf;
}

.header-spd-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-Portfolio-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.125;
  color: #4d5ae5;
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

.header-contacts-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-adres {
  font-style: normal;
}
/*------------sektone--------*/
.sektone {
  background-color: #2e2f42;
}

.solutions .bigtext {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
}
.spdt {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.spdt-par {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*---------------section-tiem-----------------*/
.our-team {
  line-height: 1.11;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}
.section-tiem {
  background: var(--CLOUD, #f4f4fd);
}
.hero {
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.hero-liste-item {
  background-color: #ffffff;
}
.namepro {
  line-height: 1.5;
  letter-spacing: 0.02em;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*----------------------section-our-portfolio-----------*/

.section-our-portfolio {
  background: #fff;
}
.our-portfolio {
  line-height: 1.11;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.servis {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.servis-liste-par {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*-------------------footer---------------*/
.footer {
  background-color: #2e2f42;
}
.footer-logo-text {
  color: #f4f4fd;
}
.footer-par {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
