body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  width: 1440px;
  padding-left: 156px;
  padding-right: 156px;
  margin: 0 auto;
  outline: 2px solid red;
}

/****************header*************/
.header-container {
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
}
.header-logo-text {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
}
.header-ul-spc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.125em;
  color: #2e2f42;
}
.header-spd-link:hover,
.header-spd-link:focus {
  color: #404bbf;
}

.header-spd-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-Portfolio-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.125;
  color: #4d5ae5;
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

.header-contacts-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-adres {
  font-style: normal;
}
/*------------sektone--------*/
.sektone {
}
.solutions {
  background-color: #2e2f42;
  padding: 188px 472px 292px 472px;
}
.bigtext {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-bottom: 48px;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
}
/*************************sektion-spdt****************/
.sektion-spdt {
}
.feature-spdt {
  padding-top: 120px;
  padding-bottom: 120px;
}
.spdt {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.spdt-par {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*---------------section-tiem-----------------*/
.container-our-team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.our-team {
  line-height: 1.11;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  max-width: 162;
  margin: 0 auto;
  margin-bottom: 72px;
}
.section-tiem {
  background: var(--CLOUD, #f4f4fd);
}
.hero {
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.hero-liste-item {
  background-color: #ffffff;
}
.namepro {
  line-height: 1.5;
  letter-spacing: 0.02em;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*----------------------section-our-portfolio-----------*/

.container-our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-our-portfolio {
  background: #fff;
}
.our-portfolio {
  line-height: 1.11;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.servis {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 32px;
}
.section-our-portfolio-img {
  margin-bottom: 32px;
}
.servis-item {
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 160px;
}
.servis-liste-par {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}
/*-------------------footer---------------*/
.footer {
  background-color: #2e2f42;
  padding-top: 102px;
  padding-bottom: 100px;
}

.footer-logo-text {
  color: #f4f4fd;
}
.header-logo {
  margin-bottom: 16px;
}
.footer-par {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
